@using PhanMemWebQuanLiBenhVien.DataAccess.Repository.Interfaces
@inject IUnitOfWork UnitOfWork
@model Patient
@{
    ViewData["Title"] = "Chi Tiết Bệnh Nhân";
}
<link rel="stylesheet" href="~/css/Patient/Detail.css" />
<div class="container mt-5">
    <div class="row mt-5 d-flex justify-content-between">
        <h2 class="col col-auto">Chi tiết bệnh nhân</h2>
        <a class="btn btn-primary col col-auto h-75" asp-controller="Patient" asp-action="Update" asp-route-PatientId="@Model.PatientId"><i class="bi bi-pencil-square"></i> Sửa thông tin</a>
    </div>
    <div class="info-section mt-5">
        <p><strong>ID:</strong> @Model.PatientId</p>
        <p><strong>Tên bệnh nhân:</strong> @Model.Name</p>
        <p><strong>CCCD:</strong> @Model.CCCD</p>
        <p><strong>Ngày sinh:</strong> @Model.DateOfBirth</p>
        <p><strong>Giới tính:</strong> @Model.Gender.ToString()</p>
        <p><strong>Địa chỉ:</strong> @Model.Address</p>
        @if(Model.TrangThaiBenhAn == PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
        {
            <p><strong>Trạng thái: Đang chữa trị</strong></p>
            if(Model.Profession  != null)
            {
                <p><strong>Khoa đang điều trị hiện tại: @Model.Profession.ProfessionName</strong></p>
            }
        }
        else
        {
            <p><strong>Trạng thái: Đang không chữa trị</strong></p>
        }
    </div>

    <div class="row d-flex">
        <div class="col-auto text-primary"><h3>Danh sách bệnh án</h3></div>
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            if (Model.TrangThaiBenhAn==PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.ketthucchuatri)
            {
                <div class="col-auto"><a class="btn btn-primary" asp-action="DoctorCreate" asp-controller="MedicalRecord" asp-route-PatientId="@Model.PatientId"><i class="bi bi-plus"></i>Thêm bệnh án</a></div>
            }
        }
    </div>
    @if (Model.MedicalRecords != null && Model.MedicalRecords.Count > 0)
    {
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Tên Bệnh Nhân</th>
                    <th>Giới Tính</th>
                    <th>Địa Chỉ</th>
                    <th>Tiền Sử Bệnh Án</th>
                    <th>Trạng thái</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.MedicalRecords)
                {
                    <tr>
                        <td>@record.MedicalRecordId</td>
                        <td>@record.PatientName</td>
                        <td>@record.PatientGender</td>
                        <td>@record.Address</td>
                        <td>@record.TienSuBenhAn</td>
                        @if (record.TrangThaiBenhAn==PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
                        {
                            <td>
                                <span class="badge bg-danger">Đang chữa trị</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="badge bg-success">Bệnh án đã đóng</span>
                            </td>
                        }
                        <td class="d-flex align-items-center gap-1">
                            <a class="btn btn-sm btn-primary col col-auto" asp-controller="MedicalRecord" asp-action="DoctorDetail" asp-route-id="@record.MedicalRecordId">Chi tiết</a>
                            @if (record.TrangThaiBenhAn==PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
                            {
                                <form method="post" class="col col-auto">
                                    <button type="submit" asp-controller="MedicalRecord" asp-action="CloseMedicalRecord" class="btn btn-sm btn-primary" asp-route-MedicalRecordId="@record.MedicalRecordId">Đóng bệnh án</button>
                                </form> 
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row d-flex mt-4">
            <div class="col-auto">
                @if (User.IsInRole("Doctor"))
                {
                    var doctor = UnitOfWork.DoctorRepository.GetAll(dr=>dr.Username==User.Identity.Name).LastOrDefault();
                    <a asp-controller="Doctor" asp-action="DoctorPatients" asp-route-DoctorId="@doctor.DoctorId" class="btn text-white">Quay lại</a>
                }
                @if (User.IsInRole("Nurse"))
                {
                    var nurse = UnitOfWork.NurseRepository.GetAll(dr => dr.Username == User.Identity.Name).LastOrDefault();
                    <a asp-controller="Nurse" asp-action="NursePatients" asp-route-NurseId="@nurse.NurseId" class="btn text-white">Quay lại</a>
                }
                @if (User.IsInRole("Admin"))
                {   
                    <a asp-controller="Patient" asp-action="Index" class="btn text-white">Quay lại</a>
                }
            </div>
            <div class="col-auto text-primary">
                @if(Model.TrangThaiBenhAn == PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.ketthucchuatri)
                {
                    <a class="btn btn-primary" asp-controller="Patient" asp-action="Delete" asp-route-PatientId="@Model.PatientId" onclick="return confirm('Bạn có chắc chắn muốn xóa bệnh nhân này không? Các bệnh án liên quan sẽ bị xoá.');">Xóa</a>
                }
            </div>
        </div>
    }
    else
    {
        <p>Không có bệnh án nào.</p>
        <div class="col-auto text-primary">
            @if (Model.TrangThaiBenhAn == PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.ketthucchuatri)
            {
                <a class="btn btn-primary" asp-controller="Patient" asp-action="Delete" asp-route-PatientId="@Model.PatientId" onclick="return confirm('Bạn có chắc chắn muốn xóa bệnh nhân này không? Các bệnh án liên quan sẽ bị xoá.');">Xóa</a>
            }
        </div>  
    }
    
</div>
