@model Doctor
@{
	Layout = "~/Views/Shared/_CustomedLayout.cshtml";
}
<h2 class="text-primary">Danh sách </h2>
@if(ViewBag.Patients.Count == 0)
{
	<p>Trống</p>
}
else
{
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Tên bệnh nhân</th>
					<th>Tuổi
					<th>CCCD</th>
					<th>Giới tính</th>
					<th>Trạn thái điều trị</th>
					<th>Phòng bệnh</th>
					<th>Chức năng</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var patient in ViewBag.Patients)
				{
					<tr>
						<td>@patient.Name</td>
						<td>@patient.Age</td>
						<td>@patient.CCCD</td>
						<td>@patient.Gender.ToString()</td>
						<td>@patient.TrangThaiDieuTri.ToString()</td>
						<td>@patient.PhongBenh.Name</td>
						<td>
						<a href="@Url.Action("DoctorPatientDetail", "Doctor", new { PatientId = patient.PatientId })" class="btn btn-primary">Chi tiết</a>
						</td> 
					</tr>
				}
			</tbody>
		</table>
	</div>
}