@model Doctor
@{
    Layout = "~/Views/Shared/_CustomedLayout.cshtml";
}
<h2 class="text-primary">Lịch tuần</h2>
<div class="d-flex justify-content-center mt-5">
    @if (ViewBag.WS == null)
    {
        <h4 class="text-muted">Nothing here.</h4>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Thứ hai</th>
                    <th>Thứ ba</th>
                    <th>Thứ tư</th>
                    <th>Thứ năm</th>
                    <th>Thứ sáu</th>
                    <th>Thứ bảy</th>
                    <th>Chủ nhật</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.WS.RoomOfMonday</td>
                    <td>@ViewBag.WS.RoomOfTuesday</td>
                    <td>@ViewBag.WS.RoomOfWednesday</td>
                    <td>@ViewBag.WS.RoomOfThurday</td>
                    <td>@ViewBag.WS.RoomOfFriday</td>
                    <td>@ViewBag.WS.RoomOfSaturday</td>
                    <td>@ViewBag.WS.RoomOfSunday</td>
                </tr>
            </tbody>
        </table>
    }
</div>