@page
@using PhanMemWebQuanLiBenhVien.DataAccess.Repository.Interfaces
@inject IUnitOfWork UnitOfWork
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div>
    <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />

    <h2 class="text-center">Tài khoản</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="row d-flex justify-content-center gap-1">
                    <a asp-page="ChangePassword" class="w-100 btn btn-lg btn-primary">Đổi mật khẩu</a>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

    <h2 class="text-center mt-3">Thông tin cá nhân</h2>
    @if (User.IsInRole("Doctor"))
    {
        var doctor = UnitOfWork.DoctorRepository.GetAll(u => u.Username == User.Identity.Name).LastOrDefault();
        <form method="post" asp-controller="Doctor" asp-action="Update" enctype="multipart/form-data">
            <input asp-for="@doctor.DoctorId" hidden />
            <input asp-for="@doctor.HasAccount" hidden />
            <input asp-for="@doctor.ProfessionId" hidden />
            <input asp-for="@doctor.Username" hidden />
            <div class="form-group">
                <label for="DoctorName">Tên bác sĩ</label>
                <span asp-validation-for="@doctor.DoctorName" class="text-danger"></span>
                <input asp-for="@doctor.DoctorName" class="form-control" placeholder="Nhập tên bác sĩ" />
            </div>
            <div class="form-group">
                <label for="DoctorCCCD">CCCD</label>
                <span asp-validation-for="@doctor.DoctorCCCD" class="text-danger"></span>
                <input asp-for="@doctor.DoctorCCCD" class="form-control" placeholder="Nhập CCCD bác sĩ" />
            </div>
            <div class="form-group">
                <label for="DoctorAge">Tuổi</label>
                <span asp-validation-for="@doctor.DoctorAge" class="text-danger"></span>
                <input asp-for="@doctor.DoctorAge" class="form-control" placeholder="Nhập tuổi bác sĩ" />
            </div>
            <div class="form-group">
                <label for="ProfessionId">Chuyên khoa</label>
                <select asp-for="@doctor.ProfessionId" asp-items="@Model.Professions" class="form-control" disabled></select>
            </div>
            <div class="form-group">
                <label for="@doctor.DoctorGender">Giới tính</label>
                <select asp-for="@doctor.DoctorGender" asp-items="@Model.genderList" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="@doctor.DoctorImgURL">Ảnh bác sĩ</label>
                <input type="file" name="DoctorImg" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn-primary">Cập nhật</button>
        </form>
    }
    else if (User.IsInRole("Nurse"))
    {
        var nurse = UnitOfWork.NurseRepository.GetAll(u => u.Username == User.Identity.Name).LastOrDefault();
        <form method="post" asp-controller="Nurse" asp-action="Update" enctype="multipart/form-data">
            <input asp-for="@nurse.NurseId" hidden />
            <input asp-for="@nurse.HasAccount" hidden />
            <input asp-for="@nurse.Username" hidden />
            <div class="form-group">
                <label for="NurseName">Tên y tá</label>
                <span asp-validation-for="@nurse.NurseName" class="text-danger"></span>
                <input asp-for="@nurse.NurseName" class="form-control" placeholder="Nhập tên y tá" />
            </div>
            <div class="form-group">
                <label for="NurseCCCD">CCCD</label>
                <span asp-validation-for="@nurse.NurseCCCD" class="text-danger"></span>
                <input asp-for="@nurse.NurseCCCD" class="form-control" placeholder="Nhập CCCD y tá" />
            </div>
            <div class="form-group">
                <label for="NurseAge">Tuổi</label>
                <span asp-validation-for="@nurse.NurseAge" class="text-danger"></span>
                <input asp-for="@nurse.NurseAge" class="form-control" placeholder="Nhập tuổi y tá" />
            </div>
            <div class="form-group">
                <label for="@nurse.NurseGender">Giới tính</label>
                <select asp-for="@nurse.NurseGender" asp-items="@Model.genderList" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="@nurse.NurseImgURL">Ảnh y tá</label>
                <input type="file" name="NurseImg" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn-primary">Cập nhật</button>
        </form>
    }
    else if (User.IsInRole("QuanLiNhanSu") || User.IsInRole("QuanLiVatTu") || User.IsInRole("QuanLiBenhNhan"))
    {
        var nhansu = UnitOfWork.NhanSuRepository.GetAll(u => u.UserName == User.Identity.Name).LastOrDefault();
        <div class="mt-3 mb-3 w-100 d-flex justify-content-center">
            <img src="@(!string.IsNullOrEmpty(nhansu.ImgUrl) ? nhansu.ImgUrl : Url.Content("~/images/personnel.jpg"))"
                 alt="Ảnh đại diện của nhân sự"
                 style="width: 300px; height: 300px; object-fit: cover; border-radius: 50%" />
        </div>
        <form method="post" asp-controller="NhanSu" asp-action="Update" enctype="multipart/form-data" class="container p-4 border rounded shadow-sm bg-light">
            <h4 class="text-center mb-4">Cập nhật thông tin tài khoản</h4>
            <input asp-for="@nhansu.NhanSuId" hidden/>
            <input asp-for="@nhansu.UserName" hidden />
            <input asp-for="@nhansu.HasAccount" hidden/>
            <input asp-for="@nhansu.Role" readonly class="mb-3"/>
            <div class="mb-3">
                <label asp-for="@nhansu.NhanSuName" class="form-label">Tên của bạn</label>
                <input asp-for="@nhansu.NhanSuName" class="form-control" placeholder="Nhập tên của bạn" />
                <span asp-validation-for="@nhansu.NhanSuName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@nhansu.NhanSuAge" class="form-label">Tuổi</label>
                <input asp-for="@nhansu.NhanSuAge" class="form-control" placeholder="Nhập tuổi của bạn" />
                <span asp-validation-for="@nhansu.NhanSuAge" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@nhansu.Address" class="form-label">Địa chỉ</label>
                <input asp-for="@nhansu.Address" class="form-control" placeholder="Nhập địa chỉ của bạn" />
            </div>
            <div class="mb-3">
                <label asp-for="@nhansu.NhanSuGender" class="form-label">Giới tính</label>
                <select asp-for="@nhansu.NhanSuGender" asp-items="@Model.genderList" class="form-select">
                    <option value="">--Chọn giới của bạn--</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="ImgUrl" class="form-label">Ảnh đại diện</label>
                <input type="file" name="ImgUrl" class="form-control" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">Cập nhật</button>
            </div>
        </form>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
