@model PhanMemWebQuanLiBenhVien.Models.PhongKham
@{
	ViewData["Title"] = "Chi Tiết Phòng Khám";
}
<div>
	<h2 class="my-5">Chi tiết</h2>
	<div class="mt-5">
		<p>ID: @Model.RoomId</p>
		<p>Tên phòng: @Model.Name</p>
	</div>
	<div class="my-4">
		<table>
			<tr>
				<th><h4>Danh sách bệnh nhân: </h4></th>
				@foreach (var patient in Model.Patients)
				{
					<td><a href="@Url.Action("Detail", "Patient", new {id = patient.PatientId})" class="text-decoration-none">@patient.Name</a></td>
				}
			</tr>
		</table>
	</div>
	<div class="row d-flex">
		<div class="col-auto text-primary"><a asp-controller="PhongKham" asp-action="Index" class="btn btn-outline-dark">Quay lại</a></div>
		<div class="col-auto text-primary"><a asp-controller="PhongKham" asp-action="Delete" asp-route-PhongKhamId="@Model.RoomId" class="btn btn-outline-dark">Xoá</a></div>
	</div>
</div>