@model PhanMemWebQuanLiBenhVien.Models.PhongKham
@{
	ViewData["Title"] = "Chi Tiết Phòng Khám";
}
<div>
	<h2 class="my-5">Chi tiết</h2>
	<div class="mt-5">
		<p>ID: @Model.RoomId</p>
		<p>Tên phòng: @Model.Name</p>
	</div>
    <div class="my-4">
        <h4>Danh sách bệnh nhân:</h4>
        @if (Model.Patients != null && Model.Patients.FirstOrDefault() != null)
        {
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tên bệnh nhân</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model.Patients)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("DoctorPatientDetail", "Doctor", new { PatientId = patient.PatientId })" class="text-decoration-none">
                                    @patient.Name
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Chưa có bệnh nhân.</p>
        }
    </div>
	<div class="row d-flex" style="margin-left: 1px">
        <a asp-controller="PhongKham" asp-action="Index" class="btn text-white col col-auto">Quay lại</a>
		<div class="col-auto">
			<form method="post" asp-controller="PhongKham" asp-action="Delete" asp-route-PhongKhamId="@Model.RoomId">
				<button class="btn text-white" type="submit">Xoá</button>
			</form>
		</div>
	</div>
</div>