@model PhanMemWebQuanLiBenhVien.Models.PhongBenh
@{
	ViewData["Title"] = "Chi Tiết Phòng Bệnh";
}
<link rel="stylesheet" href="~/css/PhongBenh/Detail.css"/>
<link rel="stylesheet" href="~/css/Patient/Detail.css" />
<div>
	<h2 class="my-5">Chi Tiết Phòng Bệnh</h2>
	<div class="mt-5 info-section">
		<p>ID: @Model.RoomId</p>
		<p>Tên phòng: @Model.Name</p>
		<p>Số giường: @Model.NumberOfBeds</p>
		<p>Khoa: @Model.Profession.ProfessionName</p>
	</div>
	<div class="my-4">
		<table>
			<thead>
			<tr>
				<th><h4>Danh sách bệnh nhân: </h4></th>
			</tr>
			</thead>
			<tbody>
				@if (Model.Patients != null)
				{
					foreach (var patient in Model.Patients)
					{
					<tr>
						<td>
							<div class="row d-flex justify-content-between">
								<p class="fw-bold col col-auto">@patient.Name</p> 
								<a href="@Url.Action("Detail", "Patient", new {PatientId = patient.PatientId})" class="col col-auto text-decoration-none btn">Truy cập thông tin</a>
							</div>
						</td>
					</tr>
					}
				}
			</tbody>
		</table>
	</div>
	<div class="row" style="margin-left: 1px">
		<a asp-controller="PhongBenh" asp-action="Index" class="btn text-white col col-auto">Quay lại</a>
		<div class="col-auto text-primary">
			<form method="post" asp-controller="PhongBenh" asp-action="Delete" asp-route-PhongBenhId="@Model.RoomId" onsubmit="return confirm('Bạn có chắc chắn muốn xoá phòng bệnh không? Xoá phòng bệnh sẽ mất hết dữ liệu bệnh án liên quan.');">
				<button class="btn text-white" type="submit">Xoá</button>
			</form>
		</div>
	</div>
</div>