@model PhanMemWebQuanLiBenhVien.Models.PhongBenh
@{
	ViewData["Title"] = "Chi Tiết Phòng Bệnh";
}
<div>
	<h2 class="my-5">Chi tiết</h2>
	<div class="mt-5">
		<p>ID: @Model.RoomId</p>
		<p>Tên phòng: @Model.Name</p>
		<p>Số giường: @Model.NumberOfBeds</p>
		<p>Khoa: @Model.Profession</p>
	</div>
	<div class="my-4">
		<table>
			<tr>
				<th><h4>Danh sách bệnh nhân: </h4></th>
				@{
					if(Model.Patients!=null){
					foreach (var patient in Model.Patients)
					{
						<td><a href="@Url.Action("Detail", "Patient", new {PatientId = patient.PatientId})" class="text-decoration-none">@patient.Name</a></td>
					}
					}
				}
			</tr>
		</table>
	</div>
	<div class="row" style="margin-left: 1px">
		<a asp-controller="PhongBenh" asp-action="Index" class="btn text-white col col-auto">Quay lại</a>
		<div class="col-auto text-primary">
			<form method="post" asp-controller="PhongBenh" asp-action="Delete" asp-route-PhongBenhId="@Model.RoomId">
				<button class="btn text-white" type="submit">Xoá</button>
			</form>
		</div>
	</div>
</div>