@model IEnumerable<Doctor>
<div class="p-3">
    <h2 class="text-primary">Danh sách tài khoản Bác Sĩ</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID bác sĩ</th>
                <th>Tên bác sĩ</th>
                <th>Tên tài khoản</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <td>@doctor.DoctorId</td>
                    <td>@doctor.DoctorName</td>
                    <td>
                        @if (doctor.HasAccount)
                        {
                            <span class="badge bg-success">Đã có tài khoản</span>
                            <span>Username: <b>@doctor.Username</b></span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Không có tài khoản</span>
                        }
                    </td>
                    <td>
                        @if (doctor.HasAccount)
                        {
                            <a asp-controller="CustomedUser" asp-action="DeleteDoctorAccount"
                               class="btn btn-danger btn-sm"
                               asp-route-DoctorId="@doctor.DoctorId">
                                Xóa tài khoản
                            </a>
                        }
                        else
                        {
                            <a asp-controller="CustomedUser" asp-action="AssignDoctorAccount"
                               class="btn btn-primary btn-sm"
                               asp-route-DoctorId="@doctor.DoctorId">
                                Cấp tài khoản
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>