@model IEnumerable<PhanMemWebQuanLiBenhVien.Models.WorkSchedule>
@{
    ViewData["Title"] = "Danh Sách Lịch";
}
<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary"><h2>Danh sách lịch</h2></div>
        <div class="col col-2 text-end btn btn-primary text-center"><h5><i class="bi bi-person-plus-fill"></i> <a asp-action="Create" asp-controller="WorkSchedule" class="text-decoration-none text-white">Thêm</a></h5></div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Thứ hai</th>
                <th>Thứ ba</th>
                <th>Thứ tư</th>
                <th>Thứ năm</th>
                <th>Thứ sáu</th>
                <th>Thứ bảy</th>
                <th>Chủ nhật</th>
                <th>Actions</th>
            </tr>
        </thead>

            <tbody>
            @foreach (var lich in Model)
            {
                <tr>
                    <td>@lich.WorkScheduleId</td>
                    <td>@lich.RoomOfMonday</td>
                    <td>@lich.RoomOfTuesday</td>
                    <td>@lich.RoomOfWednesday</td>
                    <td>@lich.RoomOfThurday</td>
                    <td>@lich.RoomOfFriday</td>
                    <td>@lich.RoomOfSaturday</td>
                    <td>@lich.RoomOfSunday</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="WorkSchedule" asp-action="Update" asp-route-id="@lich.WorkScheduleId"><i class="bi bi-pencil-square"></i> Sửa</a>
                        <a asp-controller="WorkSchedule" asp-action="Detail" asp-route-id="@lich.WorkScheduleId" class="btn btn-primary"><i class="bi bi-layout-text-sidebar-reverse"></i> Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody> 
    </table>
</div>