@model Patient
@{
    ViewData["Title"] = "Chi Tiết Bệnh Nhân";
}
<link rel="stylesheet" href="~/css/Patient/Detail.css"/>
<div class="container mt-5"> 
    <h2 class="text-center mb-5">Chi tiết bệnh nhân</h2>
    <div class="info-section mb-4">
        <p><strong>ID:</strong> @Model.PatientId</p>
        <p><strong>Tên bệnh nhân:</strong> @Model.Name</p>
        <p><strong>CCCD:</strong> @Model.CCCD</p>
        <p><strong>Tuổi:</strong> @Model.DateOfBirth</p>
        <p><strong>Giới tính:</strong> @Model.Gender.ToString()</p>
        <p><strong>Địa chỉ:</strong> @Model.Address</p>
        <p><strong>Trạng thái:</strong> @Model.TrangThaiBenhAn.ToString()</p>
        <p><strong>Khoa đang điều trị hiện tại:</strong> @Model.Profession.ProfessionName</p>
    </div>

    <div class="medical-records-section mb-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="mb-0">Danh sách bệnh án</h3>
            <a class="btn btn-primary" asp-action="DoctorCreate" asp-controller="MedicalRecord" asp-route-PatientId="@Model.PatientId">
                <i class="bi bi-plus"></i> Thêm bệnh án
            </a>
        </div>
        @if (Model.MedicalRecords != null && Model.MedicalRecords.Any())
        {
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID Hồ Sơ</th>
                        <th>Tên Bệnh Nhân</th>
                        <th>Giới Tính</th>
                        <th>Địa Chỉ</th>
                        <th>Trạng thái bệnh án</th>
                        <th>Tiền Sử Bệnh Án</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.MedicalRecords)
                    {
                        <tr>
                            <td>@record.MedicalRecordId</td>
                            <td>@record.PatientName</td>
                            <td>@record.PatientGender</td>
                            <td>@record.Address</td>
                            @if (record.TrangThaiBenhAn == PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
                            {
                                <td><span class="badge bg-danger">Đang chữa trị</span></td>
                            }
                            else
                            {
                                <td><span class="badge bg-success">Kết thúc chữa trị</span></td>
                            }
                            <td>@record.TienSuBenhAn</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   asp-controller="MedicalRecord"
                                   asp-action="Details"
                                   asp-route-id="@record.MedicalRecordId">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-muted">Không có bệnh án nào.</p>
        }
    </div>

    <div class="actions-section row d-flex justify-content-between">
        <a asp-controller="Patient" asp-action="Index" class="btn btn-outline-dark col-auto">Quay lại</a>
        @if(Model.TrangThaiBenhAn == PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.ketthucchuatri)
        {
            <a class="btn btn-danger col-auto" asp-controller="Patient" asp-action="Delete" asp-route-PatientId="@Model.PatientId" onclick="return confirm('Bạn có chắc chắn muốn xóa bệnh nhân này không? Các dữ liệu liên quan sẽ bị xoá.');">Xóa</a>
        }
    </div>
</div>
