@model Patient
@{
	ViewData["Title"] = "Chi Tiết Bệnh Nhân";
}
<div>
	<h2 class="my-5">Chi tiết</h2>
	<div class="mt-5">
		<p>ID: @Model.PatientId</p>
		<p>Tên bệnh nhân: @Model.Name</p>
		<p>CCCD: @Model.CCCD</p>
		<p>Tuổi: @Model.Age</p>
		<p>Giới tính: @Model.Gender.ToString()</p>
		<p>Địa chỉ: @Model.Address</p>
		@if (Model.BHYT==true)
		{
			<p>BHYT: Có</p>
		}
		else
		{
			<p>BHYT: Không</p>
		}
		<p>SĐT: @Model.PhoneNumber</p>
		<p>Số phòng: </p>
	</div>
	<div class="row d-flex">
		<div class="col-auto text-primary"><a asp-controller="Patient" asp-action="Index" class="btn btn-outline-dark">Quay lại</a></div>
		<div class="col-auto text-primary">
			<a class="btn btn-primary" asp-controller="Patient" asp-action="Delete" asp-route-PatientId="@Model.PatientId">Xóa</a>
		</div>
	</div>
</div>
