@model PhanMemWebQuanLiBenhVien.Models.Mission

@{
    ViewData["Title"] = "Chi tiết nhiệm vụ";
}

<div class="container mt-5">
    <h2 class="text-center">Chi tiết Nhiệm Vụ</h2>
    <div class="card border-secondary">
        <div class="card-header">
            <p class="card-text"><strong>Mức độ:</strong> @Model.Lever</p>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Thời gian bắt đầu:</strong> @Model.Time.ToString("HH:mm dd/MM/yyyy")</p>
            <p class="card-text"><strong>Thời gian kết thúc:</strong> @Model.EndTime.ToString("HH:mm dd/MM/yyyy")</p>
            <p class="card-text"><strong>Tên bác sĩ:</strong>@Model.Doctor.DoctorName</p>
            <p class="card-text"><strong>ID:</strong> @Model.DoctorId</p>
            <p class="card-text"><strong>Nội dung:</strong> @Model.Content</p>
        </div>
    </div>
    <div class="mt-3 text-center">
        <a href="@Url.Action("DoctorMission", "Doctor", new { month = ViewBag.Month, year = ViewBag.Year })" class="btn btn-primary">Quay lại</a>
    </div>
</div>

<style>
    .card {
        max-width: 600px;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>
