@model PhanMemWebQuanLiBenhVien.Models.Profession
@{
	ViewData["Title"] = "Chi Tiết Chuyên Khoa";
}
<div>
	<h2 class="my-5">Chi tiết</h2>
	<div class="mt-5">
		<p>ID: @Model.ProfessionId</p>
		<p>Tên chuyên khoa: @Model.ProfessionName</p>
		@if (Model.TruongKhoaId!=null)
		{
			<p>Trưởng khoa: @Model.TruongKhoaName</p>
		}
		else
		{
			<p>Trưởng khoa: Không có</p>
		}
		<p>Mô tả: @Model.Description</p>
	</div>
	<div>
        @{
			<h4> Danh sách bác sĩ</h4>
            if(Model.DoctorList != null && Model.DoctorList.Count() > 0)
            {
                foreach(var doctor in Model.DoctorList)
                {
					<p>@doctor.DoctorName</p>
				}
			}
			else
			{
				<p>Trống.</p>
			}
        }
	</div>
	<div class="row d-flex">
		<div class="col-auto text-primary"><a asp-controller="Profession" asp-action="Index" class="btn btn-outline-dark">Quay lại</a></div>
		<div class="col-auto text-primary">
			<form method="post" asp-controller="Profession" asp-action="Delete" asp-route-ProfessionId="@Model.ProfessionId">
				<button class="btn btn-outline-dark" type="submit">Xoá</button>
			</form>
		</div>
	</div>
</div>