@model MedicalRecord
@{
    ViewData["Title"] = "Tạo Bệnh Án";
}
<link rel="stylesheet" href="~/css/MedicalRecord/AdminCreate.css" />
<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary">
            <h2>Thêm mới bệnh án</h2>
        </div>
    </div>
    <form asp-action="AdminCreate" asp-controller="MedicalRecord" method="post">
        <div class="form-group">
            <label asp-for="PatientId">ID Bệnh nhân</label>
            <select asp-for="PatientId" asp-items="@ViewBag.PatientList" class="form-control" id="patientIdSelect">
                <option value="">--Chọn--</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="PatientName">Tên bệnh nhân</label>
            <input asp-for="PatientName" class="form-control" id="patientNameInput" readonly />
        </div>
        <div class="form-group">
            <label asp-for="PatientGender">Giới tính</label>
            <input asp-for="PatientGender" class="form-control" id="patientGenderInput" readonly></input>
        </div>
        <div class="form-group">
            <label asp-for="Address">Địa chỉ</label>
            <input asp-for="Address" class="form-control" id="patientAddressInput" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="BHYT">BHYT</label>
            <select asp-for="BHYT" class="form-control">
                <option>--Chọn--</option>
                <option value="Có">Có</option>
                <option value="Không">Không</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="TienSuBenhAn">Tiền sử bệnh án</label>
            <input asp-for="TienSuBenhAn" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="TinhTrangBenhNhan">Trạng thái bệnh nhân</label>
            <select asp-for="TinhTrangBenhNhan" class="form-control" asp-items="@ViewBag.TinhTrangBenhNhan">
                <option value="">--Chọn--</option>
            </select>
        </div>

        <div class="form-group">
            <label for="TrangThaiDieuTri">Trạng thái điều trị</label>
            <select asp-for="TrangThaiDieuTri" class="form-control" asp-items="@ViewBag.statuslist">
                <option value="">--Chọn--</option>
            </select>
        </div>
        <div class="form-group" id="DoctorGroup" style="display: none">
            <label for="DoctorId">Bác sĩ phụ trách</label>
            <select asp-for="DoctorId" class="form-control" asp-items="@ViewBag.doctorlist" id="DoctorGroup" disabled></select>
        </div>
        <div class="form-group" id="NurseGroup" style="display: none">
            <label for="NurseId">Y tá phụ trách</label>
            <select asp-for="NurseId" class="form-control" asp-items="@ViewBag.nurselist" id="NurseGroup" disabled></select>
        </div>
        <div class="form-group" id="PhongBenhGroup" style="display: none">
            <label for="PhongBenhId">Phòng bệnh</label>
            <select asp-for="PhongBenhId" class="form-control" asp-items="@ViewBag.phongbenhlist" id="PhongBenhGroup" disabled></select>
        </div>
        <div class="form-group" id="PhongKhamGroup" style="display: none">
            <label for="PhongKhamId">Phòng khám</label>
            <select asp-for="PhongKhamId" class="form-control" asp-items="@ViewBag.phongkhamlist" id="PhongKhamGroup" disabled></select>
        </div>

        <button type="submit" class="btn btn-primary">
            <h4>Thêm</h4>
        </button>
    </form>
</div>

<script>
    // Lấy dữ liệu PatientNames từ ViewBag
    var patientNames = @Html.Raw(Json.Serialize(ViewBag.PatientNames));
    var patientGenders=@Html.Raw(Json.Serialize(ViewBag.PatientGenders));
    var patientAddress=@Html.Raw(Json.Serialize(ViewBag.PatientAddress));
    // Lắng nghe sự thay đổi lựa chọn trong dropdown
    document.getElementById('patientIdSelect').addEventListener('change', function () {
        var selectedPatientId = this.value;
        // Cập nhật tên bệnh nhân vào ô input khi thay đổi lựa chọn
        if (selectedPatientId) {
            document.getElementById('patientNameInput').value = patientNames[selectedPatientId];
            document.getElementById('patientGenderInput').value=patientGenders[selectedPatientId];
            document.getElementById('patientAddressInput').value=patientAddress[selectedPatientId];
        } else {
            document.getElementById('patientNameInput').value = '';
        }
    });
</script>

<script>
    document.getElementById("TrangThaiDieuTri").addEventListener("change", function() {
        const selectedValue = this.value;
        const DoctorGroup = document.getElementById("DoctorGroup");
        const phongKhamGroup = document.getElementById("PhongKhamGroup");
        const phongBenhGroup = document.getElementById("PhongBenhGroup");
        const NurseGroup = document.getElementById("NurseGroup");

        const DoctorSelect = DoctorGroup.querySelector("select");
        const phongKhamSelect = phongKhamGroup.querySelector("select");
        const phongBenhSelect = phongBenhGroup.querySelector("select");
        const NurseSelect = NurseGroup.querySelector("select");

        DoctorGroup.style.display = "none";
        DoctorSelect.setAttribute("disabled", "disabled");
        phongKhamGroup.style.display = "none";
        phongKhamSelect.setAttribute("disabled", "disabled");
        phongBenhGroup.style.display = "none";
        phongBenhSelect.setAttribute("disabled", "disabled");
        NurseGroup.style.display = "none";
        NurseSelect.setAttribute("disabled", "disabled");

        if (selectedValue === "noitru") {
            DoctorGroup.style.display = "block";
            DoctorSelect.removeAttribute("disabled");
            NurseGroup.style.display = "block";
            NurseSelect.removeAttribute("disabled");
            phongBenhGroup.style.display = "block";
            phongBenhSelect.removeAttribute("disabled");
        } else if (selectedValue === "ngoaitru") {
            phongKhamGroup.style.display = "block";
            phongKhamSelect.removeAttribute("disabled");
        }
    });
</script>