@model MedicalRecord
@{
    ViewData["Title"] = "Tạo Bệnh Án";
}

<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary">
            <h2>Thêm mới bệnh án</h2>
        </div>
    </div>
    <form asp-action="DoctorCreate" asp-controller="MedicalRecord" method="post">
        <div class="form-group">
            <label asp-for="PatientId">ID Bệnh nhân</label>
            <input asp-for="PatientId" class="form-control" value="@ViewBag.Patient.PatientId" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="PatientName">Tên bệnh nhân</label>
            <input asp-for="PatientName" class="form-control" value="@ViewBag.Patient.Name" readonly />
        </div>
        <div class="form-group">
            <label asp-for="PatientGender">Giới tính</label>
            <input asp-for="PatientGender" class="form-control" value="@ViewBag.Patient.Gender.ToString()" readonly />
        </div>
        <div class="form-group">
            <label asp-for="BHYT">BHYT</label>
            <select asp-for="BHYT" class="form-control">
                <option>--Chọn--</option>
                <option value="Có">Có</option>
                <option value="Không">Không</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Address">Địa chỉ</label>
            <input asp-for="Address" class="form-control" value="@ViewBag.Patient.Address" readonly />
        </div>
        <div class="form-group">
            <label asp-for="TienSuBenhAn">Tiền sử bệnh án</label>
            <input asp-for="TienSuBenhAn" class="form-control"/>
        </div>
        <br />
        <div class="row d-flex">
            <button type="submit" class="btn btn-primary">
                <h4>Thêm</h4>
            </button>
            <a asp-action="DoctorPatientDetail" asp-controller="Doctor" asp-route-PatientId="@ViewBag.PatientId">Quay lại</a>
        </div>
    </form>
</div>
