
@model MedicalRecord
@{
    ViewData["Title"] = "Tạo Bệnh Án";
}

<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary">
            <h2>Thêm mới bệnh án</h2>
        </div>
    </div>
    <form asp-action="DoctorCreate" asp-controller="MedicalRecord" method="post">
        <div class="form-group">
            <label asp-for="PatientId">ID Bệnh nhân</label>
            <input asp-for="PatientId" class="form-control" value="@ViewBag.Patient.PatientId" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="PatientName">Tên bệnh nhân</label>
            <input asp-for="PatientName" class="form-control" value="@ViewBag.Patient.Name" readonly />
        </div>
        <div class="form-group">
            <label asp-for="PatientGender">Giới tính</label>
            <input asp-for="PatientGender" class="form-control" value="@ViewBag.Patient.Gender.ToString()" readonly />
        </div>
        <div class="form-group">
            <label asp-for="BHYT">BHYT</label>
            <select asp-for="BHYT" class="form-control">
                <option>--Chọn--</option>
                <option value="Có">Có</option>
                <option value="Không">Không</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Address">Địa chỉ</label>
            <input asp-for="Address" class="form-control" value="@ViewBag.Patient.Address" readonly />
        </div>
        <div class="form-group">
            <label asp-for="TienSuBenhAn">Tiền sử bệnh án</label>
            <input asp-for="TienSuBenhAn" class="form-control"/>
        </div>
        

        <div class="form-group">
            <label for="TrangThaiDieuTri">Trạng thái điều trị</label>
            <select asp-for="TrangThaiDieuTri" class="form-control" asp-items="@ViewBag.statuslist">
                <option value="">---Chọn--</option>
            </select>
        </div>
        
        <div class="form-group" id="DoctorGroup" style="display: none" >
            <label for="DoctorId">Bác sĩ phụ trách</label>
            <select asp-for="DoctorId" class="form-control" asp-items="@ViewBag.doctorlist" ></select>
        </div>
        <div class="form-group" id="NurseGroup" style="display: none">
            <label for="NurseId">Y tá phụ trách</label>
            <select asp-for="NurseId" class="form-control" asp-items="@ViewBag.nurselist" ></select>
        </div>
        <div class="form-group" id="PhongBenhGroup" style="display: none">
            <label for="PhongBenhId">Phòng bệnh</label>
            <select asp-for="PhongBenhId" class="form-control" asp-items="@ViewBag.phongbenhlist" ></select>
        </div>
        <div class="form-group" id="PhongKhamGroup" style="display: none">
            <label for="PhongKhamId">Phòng khám</label>
            <select asp-for="PhongKhamId" class="form-control" asp-items="@ViewBag.phongkhamlist" ></select>
        </div>

        <br />
        <div class="row d-flex gap-2">
            <button type="submit" class="col col-auto">
                Thêm
            </button>
            <button asp-action="DoctorPatientDetail" asp-controller="Doctor" asp-route-PatientId="@ViewBag.PatientId" class="col col-auto">Quay lại</button>
        </div>
    </form>
</div>

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("TrangThaiDieuTri").addEventListener("change", function () {
                const selectedValue = this.value;
                const DoctorGroup = document.getElementById("DoctorGroup");
                const phongKhamGroup = document.getElementById("PhongKhamGroup");
                const phongBenhGroup = document.getElementById("PhongBenhGroup");
                const NurseGroup = document.getElementById("NurseGroup");

                const DoctorSelect = DoctorGroup.querySelector("select");
                const phongKhamSelect = phongKhamGroup.querySelector("select");
                const phongBenhSelect = phongBenhGroup.querySelector("select");
                const NurseSelect = NurseGroup.querySelector("select");

                DoctorGroup.style.display = "none";
                DoctorSelect.setAttribute("disabled", "disabled");
                phongKhamGroup.style.display = "none";
                phongKhamSelect.setAttribute("disabled", "disabled");
                phongBenhGroup.style.display = "none";
                phongBenhSelect.setAttribute("disabled", "disabled");
                NurseGroup.style.display = "none";
                NurseSelect.setAttribute("disabled", "disabled");

                if (selectedValue === "noitru") {
                    DoctorGroup.style.display = "block";
                    DoctorSelect.removeAttribute("disabled");
                    NurseGroup.style.display = "block";
                    NurseSelect.removeAttribute("disabled");
                    phongBenhGroup.style.display = "block";
                    phongBenhSelect.removeAttribute("disabled");
                } else if (selectedValue === "ngoaitru") {
                    phongKhamGroup.style.display = "block";
                    phongKhamSelect.removeAttribute("disabled");
                }
            });
        });

        // Lấy dữ liệu PatientNames từ ViewBag
        var patientNames = @Html.Raw(Json.Serialize(ViewBag.PatientNames));

        // Lắng nghe sự thay đổi lựa chọn trong dropdown
        document.getElementById('patientIdSelect').addEventListener('change', function () {
            var selectedPatientId = this.value;
            // Cập nhật tên bệnh nhân vào ô input khi thay đổi lựa chọn
            if (selectedPatientId) {
                document.getElementById('patientNameInput').value = patientNames[selectedPatientId];
            } else {
                document.getElementById('patientNameInput').value = '';
            }
        });

        
    </script>
}

