@model PhanMemWebQuanLiBenhVien.Models.MedicalRecord
@{
    ViewData["Title"] = "Chi Tiết Bệnh Án";
}

<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary">
            <h2>Chi Tiết Bệnh Án</h2>
        </div>
        <div class="col col-2 text-end text-center">
            @if (Model.TrangThaiBenhAn==PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
            {
                <h5> <a asp-action="Update" asp-controller="MedicalRecord" asp-route-id="@Model.MedicalRecordId" class="text-decoration-none text-white btn btn-primary "><i class="bi bi-pencil-square"></i> Chỉnh sửa</a></h5>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h5>ID Bệnh Án: @Model.MedicalRecordId</h5>
            <p><strong>Tên bệnh nhân:</strong> @Model.PatientName</p>
            <p><strong>Giới tính:</strong> @Model.PatientGender</p>
            <p><strong>BHYT:</strong> @Model.BHYT</p>
            <p><strong>Địa chỉ:</strong> @Model.Address</p>
            <p><strong>Tiền sử bệnh án:</strong> @Model.TienSuBenhAn</p>
            <p><strong>Bác sĩ:</strong> @Model.Doctor?.DoctorName</p>
            <p><strong>Phòng khám:</strong> @Model.PhongKham?.Name</p>
            <p><strong>Phòng bệnh:</strong> @Model.PhongBenh?.Name</p>
            <p><strong>Y tá:</strong> @Model.Nurse?.NurseName</p>
            <p><strong>Khoa điều trị:</strong> @Model.Profession?.ProfessionName</p>
            @if(Model.TrangThaiBenhAn == PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
            {
                <p><strong>Tình trạng:</strong> @Model.TinhTrangBenhNhan.ToString()</p>
            }
        </div>

        <div class="col-md-9">
            <h5>Thông Tin Các Lần Khám</h5>
            @if (ViewBag.MedicalVisits != null)
            {
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Lần khám</th>
                            <th>Ngày khám</th>
                            <th>Triệu chứng</th>
                            <th>Kết quả lâm sàng</th>
                            <th>Chẩn đoán</th>
                            <th>Tình trạng</th>
                            <th>Ngày tái khám</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var visit in ViewBag.MedicalVisits)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@visit.VisitDate.ToString("dd/MM/yyyy")</td>
                                <td>@visit.Symptom</td>
                                <td>@visit.KetQuaLamSang</td>
                                <td>@visit.ChanDoan</td>
                                <td>@visit.TinhTrangBenhNhan.ToString()</td>
                                <td>@visit.NgayTaiKham.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (Model.TrangThaiBenhAn == PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
                                    {
                                        <a asp-controller="MedicalRecord" asp-action="MedicalVisitUpdate" asp-route-MedicalVisitId="@visit.VisitId" asp-route-MedicalRecordId="@Model.MedicalRecordId" class="btn btn-primary">Sửa</a>
                                        <br />
                                    }
                                    <a asp-controller="Medicine" asp-action="KeDonThuoc" asp-route-MedicalVisitId="@visit.VisitId">Đơn thuốc</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Không có thông tin về các lần khám cho bệnh án này.</p>
            }
            @if (Model.TrangThaiBenhAn==PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
            {
                <a class="btn btn-primary" asp-action="CreateMedicalVisit" asp-controller="MedicalRecord" asp-route-MedicalRecordId="@Model.MedicalRecordId">Thêm lần khám</a>
            }
        </div>
    </div>

    <div class="row mt-4">
        <a href="@ViewBag.ReferUrl" class="btn text-white col col-auto">Quay lại</a>
        <div class="col-auto text-primary">
            <form asp-action="CloseMedicalRecord" asp-controller="MedicalRecord" asp-route-MedicalRecordId="@Model.MedicalRecordId" method="post">
                @if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
                {
                    if (Model.TrangThaiBenhAn==PhanMemWebQuanLiBenhVien.Ultilities.Utilities.ETrangThaiBenhAn.dangchuatri)
                    {
                        <button type="submit" class="btn text-white">Đóng bệnh án</button>
                    }
                }
            </form>
        </div>
    </div>
</div>
